# See README to know how to setup your ENV file.
# Bearer token from UEX (optional for now, required only for the average commodity price endpoint)
UEX_BEARER_TOKEN=
# Base URL overload for the UEX API (optional)
UEX_BASE_URL=
# Base URL overload for the Wiki API (optional)
WIKI_BASE_URL=
