{
  "singleQuote": false,
  "trailingComma": "none",
  "printWidth": 120,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "semi": true,
        "tabWidth": 4,
        "bracketSpacing": true,
        "objectWrap": "preserve"
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "bracketSpacing": true,
        "objectWrap": "preserve"
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
